:root {
    --main-bg-color: firebrick;
    --main-color: cornsilk;
}

#main-title {
    color: var(--main-color);
}

#main-subtitle {
    color: var(--main-color);
}

.hero {
    padding: 0;
}

.hero-body {
    background-color: var(--main-bg-color);
    padding: 0;
}

.hero-image-container {
    background-image: url("../images/hero-image2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-position: 80%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-image img {
    
}

.hero-cta {
    color: var(--main-color);
    text-align: right;
    width: 35%;
    margin: 4%;
    margin-top: 9%;
    font-size: 18px;
    line-height: 1.2;
}

#user-input-container {
    background-color: teal;
}

#preferences {
    color: var(--main-color);
}

#user-input {
    color: var(--main-color);
    background-color:teal;
}

#location-input {

}

#dining-input {
    margin-top: .5rem;
    margin-bottom: .5rem;

}

#film-input {
    margin-bottom: .5rem;
}

#results-container {
    background-color: slategray;
    min-height: 30rem;
    margin-bottom: 0;
    margin-right: 0;
    justify-content: center;
}

#dining-results {

}

#film-results {
    justify-content: center;
}

#activity-results {

}

#page-footer {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}